In [1]:
import os,sys
from dotenv import find_dotenv,load_dotenv
load_dotenv(find_dotenv())
src_path = os.environ.get('PROJECT_SRC')
os.chdir(src_path)

In [2]:
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 22})
plt.style.use('ggplot')
import pandas as pd
import numpy as np
import cartopy.crs as ccrs
import cartopy.feature

In this notebook, we performed the scalling of the fututre energy scenario load data by subtracting the heat pump profile.

In [3]:
hp_profile=pd.read_csv('data/Scaling_FES_Demand/hploads-p_set.csv',index_col=0)
total_profile=pd.read_csv('data/Scaling_FES_Demand/totalloads-p_set.csv',index_col=0)
cop_profile=pd.read_csv('data/Scaling_FES_Demand/links-efficiency.csv',index_col=0)

In [4]:
electrifiedheat=hp_profile/cop_profile
electrifiedheat

,Beauly,Peterhead,Errochty,Denny/Bonnybridge,Neilston,Strathaven,Torness,Eccles,Harker,Stella West,...,Bramford,Pelham,Sundon/East Claydon,Melksham,Bramley,London,Kemsley,Sellindge,Lovedean,S.W.Penisula
name,,,,,,,,,,,,,,,,,,,,,
01/01/2016 00:00,4.568983,14.780877,6.187894,45.191228,8.021862,90.954878,16.423466,5.132206,10.086358,55.108044,...,39.671269,19.100922,51.700297,54.107535,46.587723,248.278239,63.180294,13.968101,65.035545,31.378553
01/01/2016 01:00,4.568983,15.761096,6.187894,45.191228,8.021862,90.954878,19.876192,6.211157,11.433474,58.874081,...,44.444243,19.100922,58.123188,61.841571,52.894982,281.436275,63.180294,15.992153,73.843581,33.898302
01/01/2016 02:00,4.568983,17.475463,7.976185,58.251418,8.021862,90.954878,23.100001,7.218572,10.086358,77.509441,...,51.392213,19.100922,51.700297,72.107745,61.367195,326.522125,83.223588,18.400087,73.843581,33.898302
01/01/2016 03:00,5.672708,19.461318,8.837263,64.540013,11.646687,132.054501,25.843335,8.075843,14.574614,87.154642,...,57.217415,19.100922,77.093770,72.107745,52.894982,369.013163,94.048980,20.759481,96.659448,44.441261
01/01/2016 04:00,6.380700,21.082429,8.837263,64.540013,11.646687,132.054501,27.746660,8.670617,15.830748,58.874081,...,61.539038,19.100922,83.329265,87.495216,74.710190,398.863026,101.822680,20.759481,104.828800,47.799188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30/12/2016 19:00,16.872890,45.027114,24.184469,176.623235,36.298363,411.564441,60.429301,18.883691,59.219892,223.560621,...,81.980288,35.663241,51.700297,161.933641,61.367195,380.054588,88.644493,16.339534,117.493170,103.497762
30/12/2016 20:00,16.872890,57.134950,31.361608,229.039086,35.385771,401.217139,55.347586,17.295694,61.974819,243.147872,...,57.217415,35.663241,96.104816,161.933641,52.894982,380.054588,63.180294,20.600315,117.493170,62.350833
30/12/2016 21:00,16.872890,47.311086,31.361608,229.039086,36.298363,411.564441,60.429301,18.883691,41.371937,211.107884,...,45.570065,19.100922,96.104816,148.545834,61.174461,426.241098,88.439540,21.211224,138.638428,83.860537
30/12/2016 22:00,16.872890,74.161756,31.361608,229.039086,36.261429,411.145671,86.956345,27.173187,55.564533,211.107884,...,45.570065,35.663241,79.366579,259.343414,117.741831,322.283067,81.871001,15.600131,104.828800,112.443270
30/12/2016 23:00,16.872890,57.134950,24.184469,176.623235,36.261429,411.145671,74.393289,23.247329,57.819012,211.107884,...,83.951780,58.022014,142.772234,152.728405,117.741831,590.284332,81.597635,17.863881,200.659921,77.233221

In [5]:
scaled_load=total_profile-electrifiedheat

df_fes_load=pd.read_csv('data/Scaling_FES_Demand/estimated_fes_load.csv',index_col=0)

cols=electrifiedheat.columns.tolist()
for i in cols:
    df_fes_load[i]=scaled_load[i]

In [6]:
#write the csv file 
df_fes_load.to_csv('data/Scaling_FES_Demand/loads-p_set.csv')

# Aggregate heating demand

In [7]:
hp_profile=pd.read_csv('data/Scaling_FES_Demand/total heating/hourly heat demand total_withHPs_MW.csv',index_col=0)
dhn_profile=pd.read_csv('data/Scaling_FES_Demand/total heating/hourly heat demand total_withDHN_MW.csv',index_col=0)
boiler_profile=pd.read_csv('data/Scaling_FES_Demand/total heating/hourly heat demand total_withGasboilers_MW.csv',index_col=0)

In [8]:
aggregate_total_domestic_heating=hp_profile+dhn_profile+boiler_profile
aggregate_total_domestic_heating.to_csv('data/Scaling_FES_Demand//total heating/aggregate total domestic heating.csv')

In [9]:

aggregate_total_domestic_heating

,Beauly,Bramford,Bramley,Daines,Deeside,Denny/Bonnybridge,Eccles,Errochty,Feckenham,Harker,...,Sellindge,Stella West,Strathaven,Sundon/East Claydon,Th. Marsh/Stocksbridge,Thornton/Drax/Eggborough,Torness,Unnamed: 30,Unnamed: 31,Walpole
Timestamp,,,,,,,,,,,,,,,,,,,,,
01/01/2022 00:00,456.475010,2527.932125,3254.716135,5366.457405,868.227393,1706.339135,539.267967,333.699659,6044.662810,734.099194,...,689.302588,3484.172054,1015.305759,3240.881007,4478.927122,992.915779,1452.386874,NaN,NaN,1357.913760
01/01/2022 01:00,456.475010,2230.585014,2862.223763,5366.457405,759.404668,1706.339135,514.093547,333.699659,6044.662810,645.125872,...,609.053071,3072.696400,1015.305759,2853.580724,3924.938155,882.007533,1386.466638,NaN,NaN,1192.449728
01/01/2022 02:00,456.475010,2259.012295,2892.321128,5366.457405,764.658243,1539.795064,518.024404,298.026621,6458.622067,734.099194,...,617.362968,3373.600337,1015.305759,3240.881007,3924.938155,882.007533,1398.361747,NaN,NaN,1203.854934
01/01/2022 03:00,480.791023,2644.150211,2862.223763,5366.457405,1057.314108,1829.378152,617.782896,354.689922,6395.255984,776.306006,...,734.391309,4017.758399,1162.781832,3436.320203,3924.938155,882.007533,1666.992177,NaN,NaN,1434.522254
01/01/2022 04:00,841.968923,4667.018843,6018.596442,5366.457405,1057.314108,1829.378152,1087.958548,354.689922,6395.255984,1357.944325,...,734.391309,3072.696400,1162.781832,5989.435808,8296.473894,1827.129864,2928.045349,NaN,NaN,2512.780284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31/12/2022 19:00,6280.158735,20611.354374,2892.321128,17530.505533,12084.007540,20410.778837,3730.841684,4056.329632,31191.738800,14051.119437,...,2038.736484,33196.872431,13705.575634,3240.881007,15162.348220,3318.179599,10022.135464,NaN,NaN,1192.449728
31/12/2022 20:00,6280.158735,2644.150211,2862.223763,78760.402088,5136.530434,31557.517998,5492.564099,6278.753316,31191.738800,17824.087306,...,5197.558668,54467.702325,14374.659405,17560.143002,64790.269165,13832.162111,14741.960956,NaN,NaN,1434.522254
31/12/2022 21:00,6280.158735,7251.149481,9704.299478,78760.402088,8518.557966,31557.517998,3730.841684,6278.753316,31191.738800,8253.582209,...,5434.112332,56210.059882,13705.575634,17560.143002,50757.397067,10899.110229,10022.135464,NaN,NaN,9473.764742
31/12/2022 22:00,6280.158735,7401.288757,41915.341382,54350.923715,7522.181998,31557.517998,11103.750282,6278.753316,31191.738800,13905.176903,...,1783.595875,56210.059882,12616.521946,12193.808889,55211.531401,11804.145820,29793.073836,NaN,NaN,9473.764742
31/12/2022 23:00,6280.158735,13076.500304,41915.341382,54350.923715,7522.181998,20410.778837,9559.593044,4056.329632,31191.738800,9263.479978,...,2035.972491,56210.059882,12616.521946,39330.540819,50757.397067,10899.110229,25649.847901,NaN,NaN,1947.108247